@import url(https://unpkg.com/material-components-web@0.39.3/dist/material-components-web.min.css);

html {
    font-size: 20px;
  }

.form {
    margin-top: 2rem;
    text-align: left;
}

.form h2 {
    font-size: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.form h4 {
    font-size: 1.2rem;
    padding-bottom: .5rem;
}

div.user {
    text-align: center;
}

.username {
    font-weight: bold;
}

.rooms-list {
    text-align: center;
}

.center-align {
    width: 80%;
    margin: 5% 10% 5% 10%;
}

.margin {
    margin-left: 0.4rem;
} 

.author-time {
    display: flex;
    justify-content: space-between;
}

.message-item {
    margin-left: 0.4rem;
    padding-bottom: 0.4rem;
}

.message-item:hover {
    background-color: #acababbb;
}

.time-sent {
    font-size: 0.8rem;
}

.rooms-list div {
    font-size: 1.8rem;
}

div.chat-area  h2 {
    font-size: 1.6rem;
    padding-bottom: 0.8rem;
}

.nav-bar > .rooms-list {
    font-size: 1.4rem;
  }

.user h2 {
    font-size: 1.6rem;
}
